{% if rating is None %}
    <button class="btn btn-default btn-xs btn-block js-rate_movie"
            data-movie_id="{{ movie.id }}"
            data-user_id="{{ user.id }}"> Rate
    </button>
{% else %}
    <div class="stars">
        <select class="movie_rate" name="rating"
                autocomplete="off" data-movie_id="{{ movie.id }}"
                data-rating_id="{{ rating.id }}"
                data-user_id="{{ user.id }}">
            <option value="1" {% if rating.score == 1 %}selected{% endif %}>1</option>
            <option value="2" {% if rating.score == 2 %}selected{% endif %}>2</option>
            <option value="3" {% if rating.score == 3 %}selected{% endif %}>3</option>
            <option value="4" {% if rating.score == 4 %}selected{% endif %}>4</option>
            <option value="5" {% if rating.score == 5 %}selected{% endif %}>5</option>
        </select>
        <span class="stars_rate_value">{{ rating.score }}</span>
    </div>
{% endif %}