{% extends 'base.html' %}
{% load static %}

{% block title %}
    User Ratings | Dashboard
{% endblock %}

{% block content %}
    <!-- BEGIN PAGE HEADER-->

    <h1 class="page-title"><i class="fa fa-film"></i> Movies Recommedation System
        <small></small>
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-users"></i>
                <a href="{% url 'dashboard:dashboard_home' %}">Evaluators</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span><i class="fa fa-user"></i> USER_{{ basic_user.order }} Ratings</span>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height blue dropdown-toggle" data-toggle="dropdown"
                        data-hover="dropdown" data-delay="1000" data-close-others="true"> Options
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a id="add_new" href="/api/">
                            <i class="fa fa-database"></i> API
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->

    <div class="row">
        <div class="col-md-8">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-edit font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">USER_{{ basic_user.order }} Ratings List</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" data-original-title="" title=""> </a>
                        <a href="" class="remove" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <section id="no-more-tables">
                        <table id="MainDatatable"
                               class="table table-striped table-bordered table-hover order-column dataTable no-footer">
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="portlet box yellow-gold">
                <div class="portlet-title">
                    <div class="caption">
                        <b><i class="fa fa-film"></i> TOP 5 MOVIES </b>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                        <a href="javascript:;" class="fullscreen" data-original-title="" title=""> </a>
                        <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body" style="">
                    <div id="top_5_user_panel"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block modals %}
    <!-- General Modal -->
    <div class="modal fade bs-modal-lg" id="general_modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>

{% endblock %}



<!-- CSS SCRIPTS -->
{% block CSS_PAGE_LEVEL_PLUGINS %}
    {% include 'plugins/simpledt_css_page_level_plugins.html' %}
{% endblock %}

{% block CSS_THEME_GLOBAL_STYLES %}
    {% include 'plugins/simpledt_css_theme_global_styles.html' %}
{% endblock %}

<!-- JS SCRIPTS -->
{% block JS_PAGE_LEVEL_PLUGINS %}
    {% include 'plugins/simpledt_js_page_level_plugins.html' %}
{% endblock %}



{% block JS_FINAL_SCRIPTS %}

    <script type="text/javascript">
        (function (window, $) {
            window.api_token = '{% if request.session.api_token %}{{ request.session.api_token }}{% endif %}';
            window.user_ratings_dt = "{% url 'dashboard:user_ratings_dt' basic_user.id %}";
            window.api_rating_url = "{{ request.scheme }}://{{ request.get_host }}{% url 'Rating-list' %}"
            window.user_top5_url = "{% url 'dashboard:user_top5' basic_user.id %}";

        })(window, jQuery);
    </script>
    <script src="{% static 'js/helper_components.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/common_dt.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/user_ratings_dt.js' %}" type="text/javascript"></script>

{% endblock %}