{% extends 'registration/login-base.html' %}
{% block content %}

    <form class="login-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <h3 class="form-title font-blue-madison">Sign In</h3>

        <div class="alert alert-danger {% if form.errors %}{{ 'display' }}{% else %}{{ 'display-none' }}{% endif %}">
            <button class="close" data-close="alert"></button>
            <span>
                {% if form.errors %}
                    {{ "Your username and password didn't match. Please try again." }}
                {% else %}
                    {{ 'Please, enter username and password.' }}
                {% endif %}
            </span>
        </div>

        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"
                   placeholder="Username" name="username"/></div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="Password" name="password"/></div>
        <div class="">
            <button type="submit" class="btn emxn-orange uppercase pull-right">Login</button>

        </div>
    </form>

{% endblock %}