.stars_rate_value {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #EDB867;
    margin: 0 auto;
    display: block;
    padding: 0;
}
#top_5_user_panel{
    min-height: 300px;
    display: block;
}

.score_rating_top_5{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #EDB867;
}