{% load widget_tweaks %}

<form class="form form-horizontal" method="POST" action="{{ request_path }}" id="js-basic-user-form" novalidate>
    {% csrf_token %}

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">{{ modal_title }}</h4>
    </div>
    <div class="modal-body">


        {% for field in form %}

            <div class="form-group{% if field.errors %} has-error{% endif %} {{ field|field_type }} {{ field|widget_type }} {{ field.html_name }}">

                <label class="col-md-3" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-lg-9">
                    {% render_field field class="form-control" %}
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

        {% endfor %}


    </div>
    <div class="modal-footer">
        <button type="button" class="btn_cancel btn dark btn-outline" data-dismiss="modal">Close</button>
        <button type="submit" class="btn_confirm btn green">Save</button>
    </div>
</form>
