<a href="{% url 'dashboard:user_ratings' user.id %}"
   class="js-edit-group btn btn-primary btn-sm">
    <i class="fa fa-star"></i> Rate Movies
</a>

<a href="javascript:;"
   class="js-remove-item btn btn-primary btn-sm btn-danger"
   data-user_order="{{ user.order }}"
   data-url="{{ request.scheme }}://{{ request.get_host }}{% url 'BasicUser-list' %}{{ user.id }}"
   data-modal="#general_modal">
    <i class="fa fa-trash"></i>
</a>