{% if top5 %}
    <div class="row">

        <div class="col-lg-12">
            <div class="table-scrollable">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th> Rank</th>
                        <th> Movie</th>
                        <th> Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for recommendation in top5 %}
                        <tr>
                            <td><b> {{ recommendation.rank }}</b></td>
                            <td> {{ recommendation.movie.title }}</td>
                            <td>
                                <span class="score_rating_top_5">{{ recommendation.score|stringformat:"0.2f" }}</span>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% else %}
    <div class="note note-info">
        <h4 class="block">Start Rating <i class="fa fa-star"></i></h4>
        <p> Seems like this user has no any recommendation yet. Please, start rating to see new recommendations
            here. </p>
    </div>
{% endif %}

    <div class="row">

        <div class="col-lg-12">
            <div class="form-group">
                <button class="btn yellow-gold uppercase  reload_top_5_btn"><i class="fa fa-refresh"></i>
                    RELOAD
                </button>
            </div>
        </div>
    </div>