{% load static %}

<link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components"
      type="text/css"/>
<link href="{% static 'assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css"/>